@tailwind base;
@tailwind components;
@tailwind utilities;

*{
font-family: "Grandslang b side, Palatino Linotype, san-serif";
}

::selection{
    background-color: rgb(255, 194, 82);
    color: rgb(77, 77, 77);
}